<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= activity.type %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= activity.distance %>
  </p>

</div>
